/* ======Generale======== */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 80em;
    max-width: 100%;
    margin: 0 auto;
}

.col-2 {
    width: 16.666666666666%;
}

.col-3 {
    width: 33.33333333333%;
}

.col-4 {
    width: 25%;
}

.col-5 {
    width: 41.66666666666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.3333333333333333%;
}

.col-8 {
    width: 75%;
}
.col-10{
    width: 83.3333333333333334%
}

.col-12 {
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
}

nav {
    overflow: hidden;
    height: 10vh;
    background-color: #3AAFA9;
}

nav .col-12 {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

nav .col-12 .col-6 .log.desktop .yeslog, nav .col-12 .col-6 .log.desktop  .nolog{
    margin-top: 4vh;
}
nav .col-12 .col-6 .log.mobile .yeslog, nav .col-12 .col-6 .log.mobile  .nolog{
    margin-top: 4vh;
}
.log.desktop .nolog li .enter, .log.desktop .yeslog li .logout{
    background-color: rgb(182, 161, 43);
    color: black;
}
.log.mobile{
    display: none;
}
.log.desktop .nolog{
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: auto;
}
.log.desktop .nolog li{
    margin-left: 5em;
}
.log.desktop .nolog li:nth-child(2){
    margin-left: 0.5em;
}

.log.desktop .nolog li a{
    padding: 0.2em 0.5em;
    text-decoration: none;
    border: 1px solid black;
    background-color: #17252A;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
.log.desktop .yeslog li a{
    padding: 0.2em 0.5em;
    text-decoration: none;
    border: 1px solid black;
    background-color: #17252A;
    border-radius: 8px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
.log.desktop .yeslog{
    display: none;
}
.log.desktop .yeslog li{
    list-style: none;
    display: flex;
    margin-left: 5%;
}
.log.desktop .yeslog li:nth-child(2){
    margin-left: 0.5em;
}


.nav-links {
    display: flex;
    list-style: none;
    width: 70%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-links li a:hover {
    border-bottom: 2px solid gold;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #DEF2F1;
    padding: 1em 0;
}

.footer .top .row .col-12 {
    display: flex;
    justify-content: space-around;
}

.footer .top .row .col-12 .col-3 .logo {
    display: flex;
    justify-content: center;
}

.footer .top .row .col-12 .col-3 .logo img {
    width: 200px;
    height: auto;
}

.footer .top .row .col-12 .col-3 .social {
    margin: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.footer .top .row .col-12 .col-3 .social li a {
    color: black;
    font-size: 22px;
}

.footer .top .row .col-12 .col-3 .social li a:hover {
    color: rgb(37, 37, 37);
}

.footer .top .row .col-12 .col-3 .voices {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .top .row .col-12 .col-3 .voices li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.footer .top .row .col-12 .col-3 p {
    color: black;
    text-align: center;
}

.footer .bottom .row .col-12 {
    margin: 1em;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer .bottom .row .col-12 .col-8 h3 {
    color: black;
    font-size: 15px;
}

.footer .bottom .row .col-12 .col-4 {
    display: flex;
    justify-content: center;
}

.footer .bottom .row .col-12 .col-4 .payIMG img {
    margin-top: -5px;
    width: 100px;
    height: auto;
}

.footer .bottom .row .col-12 .col-4 p {
    color: black;
    font-size: 13px;
}
.col-3 .buy{
    display: none;
}

/* =======Home======= */
.slider {
    margin: 2em 0 0 0;
    width: 100%;
    z-index: -1;
}

.slider div img {
    width: 100%;
}

#main .row .bot-adv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
}

#main .row .bot-adv h2 {
    padding: 0.5em;
}

#main .row .bot-adv button{
    
    border: 1px solid black;
    border-radius: 15px;
    background-color : #17252A;
    padding: 1em;
    -webkit-box-shadow: 21px 25px 31px 5px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 21px 25px 31px 5px rgba(0, 0, 0, 0.68);
    box-shadow: 21px 25px 31px 5px rgba(0, 0, 0, 0.68);
}

#main .row .bot-adv button a{
    color : white;
    font-size : 1em;
    text-transform: uppercase;
    text-decoration: none;
}


#main .row .adv {
    display: flex;
    align-items: center;
    margin: 1em 0;
}

#main .row .adv .col-4 h1 {
    text-transform: uppercase;
    font-weight: bold;
    padding: 1em;
    font-size: 15px;
}

#main .row .adv .col-8 p {
    padding: 1em;
}

#main .row .col-3 header h1 {
    margin-bottom: 0.5em;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;

}

#main .row .col-3 footer p {
    margin: 0.5em 0;
    text-align: center;

}

#main .row .col-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 21px 25px 31px 5px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 21px 25px 31px 5px rgba(0, 0, 0, 0.68);
    box-shadow: 21px 25px 31px 5px rgba(0, 0, 0, 0.68);
    padding: 1em;
    margin: 3em;
}

#main .row .col-3 .image img {
    width: 300px;
    height: 200px;
}

#main .row .col-3 .image img:hover {
    opacity: 0.5;
    zoom: unset;
}

#comments {
    padding: 1em;
}

#comments .row.rev {
    display: flex;
    justify-content: center;
}

#comments .row .col-12 h3 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    margin: 0.5em 0;
}

#comments .row .col-3 {
    padding: 0.5em;
}

#comments .row .col-3 hr {
    border: 1.2px solid black;
    margin: 0.5em 0;
}

#comments .row .col-3 h3 {
    text-transform: uppercase;
    font-weight: 300;
}

#comments .row .col-3 p {
    font-family: 'Indie Flower', cursive;
    font-style: italic;
    font-weight: bold;
}

/* =======  About ======== */
.wrapper #about .row article {
    height: 250px;
    display: flex;
    align-items: center;
}

.wrapper #about .row h1 {
    padding: 1em 0;
    text-transform: uppercase;
}
#citazione{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.aboutIMG {
    display: flex;
    justify-content: center;
}

.aboutIMG img {
    width: 400px;
    height: auto;
}

/* ======= Mezzi ====== */
#mezzi {
    display: flex;
    justify-content: center;
}

#mezzi .col-3 {
    display: flex;
    flex-direction: column;
}

#mezzi .col-3 .mezzi img {
    width: 450px;
    height: 250px;
}
.row.mezzi{
    margin-bottom: 30%;
}

/* ======= Hotel ====== */
.row.button form {
    display: flex;
    justify-content: center;
}

#moreButton {
    border: none;
    border: 1px solid black;
    background-color: #17252A;
    border-radius: 8px;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    margin: 2em 0 1em 0;
    cursor: pointer;
}



.bestMezzi,
.besthotel {
    border: 1px solid black;
    padding: 0.5em;
    background-color: black;
    color: white;
    width: 40%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-bottom: 2em;
}
.buy{
    cursor: pointer;
    border-top: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buy h3{
    padding-top: 0.5em;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
}
.buy img{
    padding-top: 0.5em;
    margin-left: 2em;
    width: 3em;
    height: auto;
}
#main.scroll {
    margin: 1em 0 2em 0;
}

/* =======  Contact ====== */
.bg-contact {
    background-image: url("../IMG/contact1.jpg");
    min-height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-contact .row .col-12 {
    min-height: 480px;
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-contact .row .col-12 h1 {
    text-transform: uppercase;
    font-size: 60px;
    color: white;
    font-weight: 300;
}

#contact .row .col-12.map {
    display: flex;
}

#contact .row .col-12.map .col-6 {
    padding: 0 0.5em;
}

#contact .row .col-12 .col-6 iframe {
    width: 100%;
    height: 400px;
    border-radius: 8px;
}

#contact .row .col-12 .col-6 form {
    background-color: rgba(39, 39, 39, 0.644);
    padding: 1em;
    border-radius: 8px;
    height: 400px;
    width: 100%;
}

#contact .row .col-12 .col-6 form label {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

#contact .row .col-12 .col-6 form input[type=text] {
    width: 100%;
    margin: 1em 0;
    height: 25px;
    border: none;
    border-radius: 8px;
}

#contact .row .col-12 .col-6 form textarea {
    resize: none;
    width: 100%;
    margin: 1em 0;
    border: none;
    border-radius: 8px;
}

#contact .row .col-12 .col-6 form input[type=submit] {
    width: 49%;
    height: 25px;
    border: none;
    background-color: rgb(14, 64, 129);
    text-transform: uppercase;
    border-radius: 8px;
    color: white;
    font-weight: bold;

}

#contact .row .col-12 .col-6 form input[type=reset] {
    width: 49%;
    height: 25px;
    border: none;
    background-color: rgb(129, 14, 20);
    text-transform: uppercase;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

#contact article .row .col-12 {
    margin: 2em 0;
    width: 100%;
}

#contact article .row .col-12 ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    flex-direction: row-reverse;
}

#contact article .row .col-12 ul li .icon {
    display: flex;
    justify-content: center;
}

#contact article .row .col-12 ul li .icon i {
    font-size: 50px;
    margin-bottom: 0.5em;
}

#contact article .row .col-12 ul li p {
    text-transform: uppercase;

}

/* ====== Access ======== */
.bg-page-access {
    background-image: url("../IMG/blur.jpeg");
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper #access article .row .col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12em 0;
}

.wrapper #access article .row .col-12 form span h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 1em;
    color: white;
}

.wrapper #access article .row .col-12 form {
    background-color: rgba(94, 94, 94, 0.514);
    border-radius: 8px;
    padding: 2em;
    width: 500px;
}

.wrapper #access article .row .col-12 form label {
    text-transform: uppercase;
    color: white;
}

.wrapper #access article .row .col-12 form input[type=text],
.wrapper #access article .row .col-12 form input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 0.5em 0;
    border-radius: 8px;
    border: none;
}

.wrapper #access article .row .col-12 form input[type=reset] {
    margin: 0.5em 0;
    border: none;
    background-color: rgb(129, 14, 20);
    text-transform: uppercase;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    width: 49%;
    padding: 10px;
}

.wrapper #access article .row .col-12 form input[type=reset]:hover {
    background-color: rgb(184, 53, 60);
}

.wrapper #access article .row .col-12 form input[type=submit] {
    margin: 0.5em 0;
    border: none;
    background-color: rgb(14, 64, 129);
    text-transform: uppercase;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    width: 49%;
    padding: 10px;
}

.wrapper #access article .row .col-12 form input[type=submit]:hover {
    background-color: rgb(62, 113, 179);
}

.wrapper #access article .row .col-12 form .bottom ul {
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.wrapper #access article .row .col-12 form .bottom ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
}

/* ===== Registration ====== */
.bg-page-registration {
    background-image: url("../IMG/blur.jpeg");
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
}

.firstlastname {
    display: flex;
    justify-content: space-around;
}

.firstlastname .col-6:first-child {
    margin-right: 0.5em;
}

.passAndConfPass {
    display: flex;
    justify-content: space-around;
}

.passAndConfPass .col-6:first-child {
    margin-right: 0.5em;
}

.wrapper #registration article .row .col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
}

.wrapper #registration article .row .col-12 form span h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 1em;
    color: white;
}

.wrapper #registration article .row .col-12 form {
    background-color: rgba(94, 94, 94, 0.514);
    border-radius: 8px;
    padding: 2em;
    width: 500px;
}

.wrapper #registration article .row .col-12 form:invalid>#submit {
    /* Disattiva il bottone di submit finche il form non è valido*/
    pointer-events: none;
    background-color: gray;
}

.wrapper #registration article .row .col-12 form label {
    text-transform: uppercase;
    color: white;
}

.wrapper #registration article .row .col-12 form input[type=number],
.wrapper #registration article .row .col-12 form input[type=number]::-webkit-inner-spin-button,
.wrapper #registration article .row .col-12 form input[type=number]::-webkit-outer-spin-button {
    -moz-appearance:textfield;
    -webkit-appearance: none;
    margin: 0;
}

.wrapper #registration article .row .col-12 form input[type=text],
.wrapper #registration article .row .col-12 form input[type=number],
.wrapper #registration article .row .col-12 form input[type=password],
.wrapper #registration article .row .col-12 form input[type=email] {
    width: 100%;
    padding: 10px;
    margin: 0.5em 0;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0);
}

.wrapper #registration article .row .col-12 form input[type=text]:invalid:not(:placeholder-shown),
.wrapper #registration article .row .col-12 form input[type=number]:invalid:not(:placeholder-shown),
.wrapper #registration article .row .col-12 form input[type=email]:invalid:not(:placeholder-shown),
.wrapper #registration article .row .col-12 form input[type=password]:invalid:not(:placeholder-shown) {
    border: 2px solid red;
}

.wrapper #registration article .row .col-12 form input[type=reset] {
    margin: 0.5em 0;
    border: none;
    background-color: rgb(129, 14, 20);
    text-transform: uppercase;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    width: 49%;
    padding: 10px;
}

.wrapper #registration article .row .col-12 form input[type=reset]:hover {
    background-color: rgb(184, 53, 60);
}

.wrapper #registration article .row .col-12 form input[type=submit] {
    margin: 0.5em 0;
    border: none;
    background-color: rgb(14, 64, 129);
    text-transform: uppercase;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    width: 49%;
    padding: 10px;
}

.wrapper #registration article .row .col-12 form input[type=submit]:hover {
    background-color: rgb(62, 113, 179);
}

.wrapper #registration article .row .col-12 form .bottom ul {
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.wrapper #registration article .row .col-12 form .bottom ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
}

/* ====== User Page ======== */
#profile aside {
    margin: 0.5em 0;
}
#mainInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#userName {
    text-transform: uppercase;
}
#bill{
    display: flex;
    justify-content: center;
    align-items: center;
}
#bill img{
    padding-top: 0.1em;
    width: 1.9em;
    height: auto;
}
.ipostazioniaccount{
    display: flex;
}
#admin-access{
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0 0.5em;
}
#admin-access > h3{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin-top: 1em;
}
#admin-access > .fas.fa-user-lock{
    text-align: center;
    margin-top: 1em;
    font-size: 30px;
}
.recarghe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin: 0 0.5em;
}
.recarghe h3{
    margin-top: 1em;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
.recarghe i{
    font-size: 30px;
    margin-top: 1em;
}
#rechargesettings form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#rechargesettings input, button, select {
    margin-top: 0.5em;
}
.cog h3{
    margin-top: 1em;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.cog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin: 0 0.5em;
}
.cog h3{
    margin-top: 1em;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
.cog i{
    font-size: 30px;
    margin-top: 1em;
}
#usersettings{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.info .name, .info .lastname, .info .mail, .info .address {
    display: flex;
    margin: 0.5em 0;
}
.info .name h3, .info .lastname h3, .info .mail h3, .info .address h3{
    font-size: 15px;
    margin-right: 10px;
}
#profile .profile-image img {
    height: 8em;
    width: 8em;
    border-radius: 100%;
    border: 3px solid rgba(63, 63, 63, 0.747);
}

#mainUser {
    margin: 1em 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#profile {
    border-right: 1px solid black;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scroccoLevel {
    text-decoration: none;
    color: gold;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    border: 2px solid gold;
    padding: 0.5em;
    border-radius: 8px;
    background-color: rgb(80, 20, 245);
    text-transform: uppercase;
}

#logButton {
    text-decoration: none;
    color: gold;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    border: 2px solid gold;
    padding: 0.5em;
    border-radius: 8px;
    background-color: rgb(80, 20, 245);
    text-transform: uppercase;
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.buttons .booking, .buttons .portafoglio{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px;
    border: solid 1px black;
    border-radius: 50px;
    width: 7em;
    height: 2.5em;
    cursor: pointer;
    background: mediumaquamarine;
}

#content {
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.portafoglio img{
    text-align: center;
    width: 75px;
    height: auto;
}

.portafoglio p { 
    font-size: 13pt;
    font-family: cursive; 
    background: none repeat scroll 0 0; 
    color:black; 
    display: none; 
    width: 100%; 
    padding: 10px; 
} 

.portafoglio:hover p { 
    text-transform: uppercase;
    display: block;
    text-align: center;
}

#prenotazionihistory img, #wallet img{
    padding-top: 0.1em;
    width: 1.9em;
    height: auto;
}

#prenotazionihistory a, #wallet a{
    color : black;
}
#prenotazionihistory table, tr, td, #wallet table, tr, td{
    vertical-align: middle;
}


.booking i{
    font-size: 30px;
}

.booking p{
    font-size: 8pt;
    font-family: cursive; 
    background: none repeat scroll 0 0; 
    color: black; 
    display: none; 
    width: 100%; 
    padding: 10px; 
}

.booking:hover p { 
    text-transform: uppercase;
    display: block;
    text-align: center;
}

.booking:hover i{
    display: none;
}

.portafoglio:hover img{
    display: none;
}



#modifypassword, #modifyusername, #modifymail {
    border: none;
    border: 1px solid black;
    background-color: #17252A;
    border-radius: 8px;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    margin: 0 0 0 0;
    cursor: pointer;
}

.scrollpassword, .scrollname, .scrollmail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#new_username, #oldpassword, #newpassword, #newpasswordconf, #oldmail, #newmail, #input-scrocco-coins, #type {
    border: 0.5px solid black;
    border-radius: 8px;
    font-family: cursive;
    text-align: center;
    margin-bottom: 5px;
}


#confirmpasswordbutton, #resetpssform, #update_username_button, #reset_username_form, #confirmmaildbutton, #resetmailform, #rechage_button {
    border: none; 
    border: 1px solid black;
    background-color: #17252A;
    border-radius: 8px;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-top: 5px;
}



/* ========= livello di scrocco page ======= */
#levels .row {
    align-items: center;
    margin: 2em 0;
}
#levels .row .col-4{
    text-transform: uppercase;
    font-weight: bold;
}

#levels .row .col-6 h3 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
}
/* ======== info prenotazioni ============ */
.row.info{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
}
#infoPrenotazioni{
    text-align: center;
    margin: 20% 0;
}
#infoPrenotazioni .hotels, #infoPrenotazioni .mezzi {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#infoPrenotazioni .hotels .row article, #infoPrenotazioni .mezzi .row article{
    display: flex;
    margin: 2em 0;
}
#infoPrenotazioni .hotels .row article strong, #infoPrenotazioni .mezzi .row article strong{
    margin: 0 1em;
}
.row form #prenota{
    padding: 0.5em;
    background-color: rgb(53, 83, 94);
    border: none;
    border-radius: 8px;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
.row form #elimina{
    padding: 0.5em;
    background-color: rgb(168, 90, 90);
    border: none;
    border-radius: 8px;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
.row form #prenota:hover{
    background-color: rgb(26, 41, 46);
}
.row form #elimina:hover{
    background-color: rgb(165, 21, 21);
}

/* ======== server status ============ */
.adv .col-4 h2{
    font-weight: bold;
    padding: 1em;
    font-size: 15px;
}
.adv .col-8 p{
    padding: 1em;
}
#primaryserver{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}
#primaryserver h1, #secondaryserver .row h1{
    margin: 1em 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
#primaryserver .tables.primary{
    margin-top: 1em;
    justify-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
#primaryserver p{
    text-align: center;
    font-weight: bold;
}
#secondaryserver{
    display: flex;
    flex-direction: column;
}
#secondaryserver .tables{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
td, th{
    padding: 0.5em;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    border-top: 1px solid black;
}
/* ========== bot page ======== */
#infoBot{
    margin: 1em 0;
}
#infoBot .row .col-4 h2{
    text-transform: uppercase;
    font-weight: bold;
    padding: 1em;
    font-size: 15px;
}
#infoBot .row .col-8 p{
    padding: 1em;
}
#bot-page{
    margin: 30% 0;
    width: 100%;
}
#bot-page form{
    width: 100%;
    padding: 0.2em;
}
#bot-page .row h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1em;
}
form #selection-tipologia, form #selection-luogo, form #selection-motivo{
    padding: 1em;
    margin-bottom: 1em;
    width: 100%;
}

#results-travel img{
    padding-top: 0.1em;
    width: 1.9em;
    height: auto;
}
#results-travel a{
    color : black;
}
#bot-answer table{
    width: 100%;
}
#bot-answer table tr{
    
    display: flex;
    justify-content: center;
}
/* ======= Admin panel ======== */
#adminpanel{
    margin-top: 20%;
}
#adminpanel .title h1{
    text-transform: uppercase;
    text-align: center;
    margin: 2em 0;
}
#adminpanel form{
    display: flex;
    flex-direction: column;
}
#hotels-panel form label, #mezzi-panel form label, #adminpanel form label{
    text-align: center;
    text-transform: uppercase;
    margin: 1em;
}
#hotels-panel input[type=text], #mezzi-panel input[type=text], #adminpanel form input[type=text],#adminpanel form select{
    padding: 1em;
    margin-bottom: 1em;
}
#adminpanel form .buttons{
    margin: 1em 0;
}
#tasti form .buttons input[type="button"]{
    padding: 0.5em;
    background-color: rgba(78, 167, 18, 0.623);
    border: none;
    border-radius: 8px;
    color: white;
    text-transform: uppercase;
}
#hotels-panel form, #mezzi-panel form{
    display: flex;
    flex-direction: column;
    padding: 0.2em;
}
.row .col-12{
    display: flex;
    justify-content: center;
}
#scelta-mezzi input[type="text"]:nth-child(2), #scelta-mezzi input[type="text"]:nth-child(3), #scelta-mezzi input[type="text"]:nth-child(4), #scelta-mezzi input[type="text"]:nth-child(5){
    margin-right: 1em;
}

#scelta-hotel input[type="text"]:nth-child(2), #scelta-hotel input[type="text"]:nth-child(3), #scelta-hotel input[type="text"]:nth-child(4), #scelta-hotel input[type="text"]:nth-child(5){
    margin-right: 1em;
}


#viaggi-form-panel{
    margin: 1em 0;
    text-align: center;
}

#viaggi-form-panel input, #viaggi-form-panel select{
    padding: 1em;
}

#viaggi-form-panel label{
    margin: 1em 0;
    text-align: center;
}

#viaggi-panel #viaggi-form-panel{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}
#viaggi-panel #scelta-mezzi input[type="button"], #viaggi-panel #scelta-hotel input[type="button"]{
    width: 2em;
    border:none;
    background-color: black;
    color: white;
}
#tasti{
    margin-bottom: 20%;
}
/* ======= Dettaglio prenotazione ====== */
.dattagli-prenotazioni{
    margin: 30% 0;
}

#prenotazionihistory table, tr, td{
    vertical-align: middle;
}

.dattagli-prenotazioni table{
    padding: 0 0.5em ;
    width: 100%;
}

.dattagli-prenotazioni table tr{
    display: flex;
    justify-content: center;
}

.dattagli-prenotazioni img{
    width: 1.9em;
    height: auto;
}

.dattagli-prenotazioni #dettagli-prenotazioni-form{
    margin-top: 2em;
    display: flex;
    justify-content: center;
}
.dattagli-prenotazioni > h2{
    text-transform: uppercase;
    text-align: center;
    margin: 1em 0;
}
#dettagliP-Mobile, #infoVeicle-Mobile, #infoHotel-Mobile{
    display: none;
}

.dattagli-prenotazioni #dettagli-prenotazioni-form input[type="button"]{
    border: none;
    border-radius: 8px;
    padding: 0.5em;
    background-color: rgb(35, 124, 35);
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
@media screen and (max-width: 992px) {

    /* ====== Generale ====== */
    .line {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 5px;
    }

    nav {
        position: relative;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
    }

    .nav-links {
        position: fixed;
        background-color: #3AAFA9;
        height: 100%;
        width: 100%;
        margin-bottom: 2em;
        flex-direction: column;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
        top: 2%;

    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li a {
        font-size: 25px;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.8s;
    }

    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 1.0s;
    }

    li.fade {
        opacity: 1;
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -20%);
        -webkit-clip-path: circle(1500px at 90% -30%);
        pointer-events: all;
    }

    nav .col-12 .col-6:nth-child(1) {
        display: none;
    }

    .col-6.login .log {
        display: flex;
        float: left;
        margin-left: 2em;
    }

    .log.mobile .nolog{
        display: flex;
        list-style: none;
        align-items: center;
        margin-left: auto;
    }
    .log.mobile .nolog li{
        margin-left: 10%;
    }
    .log.mobile .nolog li:nth-child(2), .log.mobile .yeslog li:nth-child(2){
        margin-left: 0.5em;
    }
    
    .log.mobile .nolog li a{
        padding: 0.2em 0.5em;
        text-decoration: none;
        border: 1px solid black;
        background-color: #17252A;
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
    }
    .log.mobile .nolog li .enter, .log.mobile .yeslog li .logout{
        background-color: rgb(182, 161, 43);
        color: black;
    }
    .log.mobile .yeslog li a{
        padding: 0.2em 0.5em;
        text-decoration: none;
        border: 1px solid black;
        background-color: #17252A;
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        color: white;
    }
    .log.mobile .yeslog li{
        list-style: none;
    }
    .user li{
        margin-right: 0.5em;
    }

    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-10 {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }

    .footer .top .row .col-12 {
        flex-direction: column;
    }

    .footer .top .row .col-12 .col-3 p {
        margin: 1em 0;
    }

    .footer .top .row .col-12 .col-3 .voices {
        margin: 0.5em 0;
    }

    .footer .bottom .row .col-12 {
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
    }

    .footer .bottom .row .col-12 .col-8 h3 {
        text-align: center;
    }

    .footer .bottom .row .col-12 .col-4 p {
        text-align: center;
    }

    /* ======= Home ======= */
    #main .row .bot-adv button{
        margin: 0;
        padding: 0.5em;
        margin-bottom: 1em;
        -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.58);
        -moz-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.58);
        box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.58);
    }
    #main .row .col-3 {
        margin: 0;
        padding: 0.5em;
        margin-bottom: 1em;
        -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.58);
        -moz-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.58);
        box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.58);
    }

    #main .row .adv {
        flex-direction: column;
    }

    #comments .row.rev {
        flex-direction: column;
    }

    /*  ======== About ======= */
    .wrapper #about .row article {
        flex-direction: column;
        height: auto;
        padding: 1em;
    }

    .wrapper #about .row h1 {
        text-align: center;
    }

    .wrapper #about .row article .col-6 {
        padding-top: 1em;
    }

    .aboutIMG img {
        width: 300px;
        height: auto;
    }

    .footer .bottom .row .col-12 .col-4 {
        margin-top: 0.5em;
        flex-direction: column;
        align-items: center;
    }

    .footer .bottom .row .col-12 .col-4 .payIMG img {
        margin-top: 0.5em;
    }
    

    /* ======== Contact ====== */
    .bg-contact .row .col-12 {
        flex-direction: column;
        margin: 1em 0;
    }

    .bg-contact .row .col-12 h1 {
        font-size: 40px;
    }

    #contact .row .col-12.map {
        flex-direction: column;
    }

    #contact .row .col-12.map .col-6 {
        padding: 0.5em;
        margin: 0;
    }

    .bg-contact .row .col-12 form {
        margin: 1em;
    }

    #contact article .row .col-12 ul {
        flex-direction: column;
    }

    #contact article .row .col-12 ul li p {
        margin-bottom: 0.5em;
    }

    /* ====== Access ======= */
    .wrapper #access article .row .col-12 {
        padding: 0.5em;
    }

    /* ======= Registration ====== */
    .firstlastname {
        flex-direction: column;
    }

    .passAndConfPass {
        flex-direction: column;
    }

    .wrapper #registration article .row .col-12 {
        padding: 0.5em;
    }

    /* ============== Mezzi ================= */

    #mezzi {
        flex-direction: column;
    }

    .bestMezzi {
        width: 100%;
    }
    .row.mezzi{
        margin-bottom: 0;
    }
    /* ====== Hotel ======= */
    .besthotel {
        width: 100%;
    }


    /* ==== User page ====== */

    #content{
        margin-top: 0;
        padding: 0;
    }

    #profile {
        border: none;
    }

    #mainUser {
        flex-direction: column;
    }
    .address{
        flex-direction: column;
    }

    /* ========= livello di scrocco page ======= */
    #levels .row .col-6 {
        margin: 1em 0;
        padding: 0 0.5em;
    }

    #levels .row.rev {
        flex-direction: column-reverse;
    }

    #levels .row .col-6 h3 {
        text-transform: uppercase;
        text-align: center;
        font-weight: 300;
    }
    /* ========== info prenotazioni ========= */
    #infoPrenotazioni .hotels .row article, #infoPrenotazioni .mezzi .row article{
        flex-direction: column;
    }

    /* ======== server status ============ */
    #primaryserver{
        flex-direction: column;
    }
    #secondaryserver .tables{
        flex-direction: column;
    }
    #primaryserver .tables.primary{
        flex-direction: column;
    }
   /* ======== Admin panel ======= */ 
    #adminpanel{
        margin: 0;
        padding: 4px;
    }
    #viaggi-panel #viaggi-form-panel{
        flex-direction: column;
        margin: 1em 0;
    }

    #viaggi-panel  input, #viaggi-panel form #selection-viaggio{
        margin-bottom: 1em;
        padding: 0.5em;
        margin: 0.5em;
    }
    #viaggi-panel #scelta-mezzi, #viaggi-panel #scelta-hotel{
        flex-direction: column;
        justify-content: center;
       
    }
    #viaggi-panel #scelta-mezzi input, #viaggi-panel #scelta-hotel input{
        width: 100%;
        margin: 0.2em 0;
    }
    
    #viaggi-panel #scelta-mezzi input[type="button"], #viaggi-panel #scelta-hotel input[type="button"]{
        width: 100%;
    }
    #scelta-hotel label, #scelta-mezzi label{
        text-align: center;
    }
    /* ======= Dettaglio prenotazione ====== */
.dattagli-prenotazioni table tr{
    flex-direction: column;
}
.dattagli-prenotazioni #dettagli-prenotazioni-form{
    padding: 0.5em;
}
.dattagli-prenotazioni #dettagli-prenotazioni-form input[type="button"]{
   width: 100%;
}
#dettagliP-Desktop, #infoVeicle-Display, #infoHotel-Display{
    display: none;
}
    #dettagliP-Mobile, #infoVeicle-Mobile, #infoHotel-Mobile{
        display: block;
    }
/* ===== Bot page ===== */
#bot-answer table tr{
    flex-direction: column;
}
}
@media screen and (max-width: 400px){
    nav .col-12 .col-6 .log.mobile .yeslog{
        margin-top: 5%;
    }
    .log.mobile .yeslog{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .log.log.mobile .yeslog li:nth-child(2){
        margin-top: 5%;
        margin-left: 0;
    }
}

   /* ======== ricerca viaggio ======= */ 
   .selectviaggio, #selectviaggio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding: 5px 8px;
    margin-bottom: 30px;
   }
